.generic-content-container {
    
    p {
        line-height: 1.65;
        font-size: 1.125rem;
        
        @mixin atSmall {
            font-size: 1.125rem;
        }
    }
    
    p a {
        font-weight: 700;
    }
}